html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

.form-container { /*form*/
    width: 350px;
    height: 450px;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 10px;
    box-sizing: border-box;
    padding: 20px 30px;
}

.form-Registro {
    width: 350px;
    height: 710px;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 10px;
    box-sizing: border-box;
    padding: 20px 30px;
}

.title { /*titulo*/
    text-align: center;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    margin: 10px 0 30px 0;
    font-size: 28px;
    font-weight: 800;
    color: #192255;
}

.form {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 18px;
    margin-bottom: 15px;
}

.input {
    border-radius: 20px;
    border: 1px solid #192255;
    outline: 0 !important;
    box-sizing: border-box;
    padding: 12px 15px;
}
/*
  .page-link {
    text-decoration: underline;
    margin: 0;
    text-align: end;
    color: #747474;
    text-decoration-color: #747474;
  }
  
  .page-link-label {
    cursor: pointer;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
          "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    font-size: 9px;
    font-weight: 700;
  }
  
  .page-link-label:hover {
    color: #000;
  }
  */
.form-btn { /*form-boton*/
    padding: 10px 15px;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    border-radius: 20px;
    border: 0 !important;
    outline: 0 !important;
    background: #285845;
    color: white;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

    .form-btn:active { /*form-boton*/
        box-shadow: none;
    }

.sign-up-label {
    margin: 0;
    font-size: 10px;
    color: #747474;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.sign-up-link {
    margin-left: 1px;
    font-size: 11px;
    text-decoration: underline;
    text-decoration-color: #285845;
    color: #285845;
    cursor: pointer;
    font-weight: 800;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.buttons-container { /*botones*/
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 20px;
    gap: 15px;
}

.apple-login-button { /*cambiar-contra-boton*/
    border-radius: 20px;
    box-sizing: border-box;
    padding: 10px 15px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    font-size: 11px;
    /*gap: 5px;*/
}

.apple-login-button { /*cambiar-contra-boton*/
    background-color: #000;
    color: #fff;
    border: 5px solid #000;
}
/*
  .google-login-button {
    border: 2px solid #747474;
  }
  
  .apple-icon,
      .google-icon {
    font-size: 18px;
    margin-bottom: 1px;
  }
*/
.mi-recuadro {
    width: 300px; /* Ancho del recuadro */
    height: 100px; /* Altura del recuadro */
    border: 1px solid #ff9900; /* Borde sólido de 2 píxeles, color #333 */
    padding: 20px; /* Espaciado interno de 20 píxeles */
    margin: 30px auto; /* Margen superior e inferior de 50 píxeles, centrado horizontalmente */
    text-align: center; /* Alineación del texto al centro */
    background-color: white; /* Color de fondo */
}

/* Estilos para los enlaces (si no hay enlaces quitar)*/
a {
    color: inherit; /* O puedes establecer un color específico, por ejemplo: color: #000; */
    text-decoration: none;
}

    a:hover {
        text-decoration: none; /* Quita el subrayado cuando el ratón está sobre el enlace */
        color: inherit; /* Mantiene el color del texto del elemento padre cuando el ratón está sobre el enlace */
    }

p {
    font-size: 16px; /* Tamaño del texto para los párrafos */
}

/* Cambiar el tamaño de los encabezados de nivel 1 */
h1 {
    font-size: 24px; /* Tamaño del texto para los encabezados h1 */
}




/*Estilos para la vista de recuperar contraseña*/
.mi-recuadro {
    width: 300px; /* Ancho del recuadro */
    height: 75px; /* Altura del recuadro */
    border: 1px solid #ff9900; /* Borde sólido de 2 píxeles, color #333 */
    padding: 20px; /* Espaciado interno de 20 píxeles */
    margin: 3px auto; /* Margen superior e inferior de 50 píxeles, centrado horizontalmente */
    text-align: center; /* Alineación del texto al centro */
    background-color: white; /* Color de fondo */
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 25px; /* Ajusta esto a la altura del recuadro */
}
.form-olvidado {
    width: 350px;
    height: 365px;
}
.mi-recuadro p {
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    font-size: 14px;
    font-weight: 700;
    color: #192255;
}
.titulo {
    text-align: left;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    margin: 10px 0 30px 0;
    font-size: 28px;
    font-weight: 800;
    color: #192255;
}

