
@model Views_Home_Login

<div id="content">

	<div class="container mt-5">

		<div class="row">
			<div class="col-5 mx-auto">
				<div class="form-container">

					<p class="title">Bienvenido</p>

					<form class="form">
						<input type="email" class="input" placeholder="Email">
						<input type="password" class="input" placeholder="Contraseña">

						<button class="col-12 form-btn">Acceder</button>
					</form>

					<button class="col-12 form-btn" id="redireccionarBtn">		
						Registrarse
					</button>
					<script>
						// Función JavaScript para manejar la redirección
						document.getElementById('redireccionarBtn').addEventListener('click', function () {
							// Redireccionar a la página 2
							window.location.href = 'Registro';
						});
					</script>

					<div class="buttons-container">
						<div class="apple-login-button" onclick="cargarContenido('olvidadoContraseñ.jsp')">
							Recuperar contraseña
						</div>

					</div>
				</div>
			</div>
