
<div class="container mt-5">
    <div class="row">
        <div class="col-5 mx-auto">
            <div class="form-Registro">
                <p class="title">Nuevo Usuario</p>

                <form class="form" action="InsertarDatos" method="post">

                    <input type="text" id="nombre_usuario" name="nombre_usuario" class="input" placeholder="Nombre " required>

                    <input type="text" id="apellidos_usuario" name="apellidos_usuario" class="input" placeholder="Apellidos" required>


                    <input type="text" id="dni_usuario" name="dni_usuario" class="input" placeholder="DNI" required>

                    <input type="text" id="tlf_usuario" name="tlf_usuario" class="input" placeholder="Telefono" required>

                    <input type="text" id="email_usuario" name="email_usuario" class="input" placeholder="Email" required>

                    <input type="password" id="clave_usuario" name="clave_usuario" class="input" placeholder="Contraseña">

                    <input type="password" id="confContraseña" name="confContraseña" class="input" placeholder="Confirmar Contraseña">
                   
                    <button type="submit" class="form-btn">Registrarse</button>
                </form>
            </div>

        </div>
       

    </div>