@model Poyecto_Gestor_Biblioteca_Web_Los_Rapidos.Models.IniciarRecuperacionViewModel

@{
    var mensajeRecuperacionError = TempData["MensajeError"] as string;
}

<div class="contenedor form-olvidado">
    <p class="titulo">Olvidaste la contraseña</p>
    <form class="form" asp-controller="ControladorRecuperarContraseña" asp-action="IniciarRecuperacion" method="post">
        @Html.TextBoxFor(d => d.Email, null, new { @class = "form-control" })
        @Html.ValidationMessageFor(d => d.Email, null, new { @class = "text-danger" })
        <div class="text-right mt-1">
            <button type="submit" class="form-btn">Recuperar</button>
        </div>
        <div class="mi-recuadro">
            <p>Te enviaremos un correo electronico para que cambies la contraseña</p>
        </div>
    </form>
    <div class="mt-5 mx-auto text-center">
    @if (!string.IsNullOrEmpty(mensajeRecuperacionError))
    {
        <script>
            Swal.fire({
                title: "Error en la recuperación",
                html: "@Html.Raw(mensajeRecuperacionError)",
                icon: "error",
                confirmButtonText: "OK"
            });
        </script>
    }
</div>
</div>




