<html>
<head>
    <meta charset="UTF-8">
    <title>Cambiar Contraseña</title>
</head>
<body>

    <div class="contenedor form-olvidado">
        <p class="titulo">Olvidaste la contraseña</p>
        <form class="form">
            <input type="email" class="input" placeholder="Email">
            <button class="form-btn">Recuperar contraseña</button>
            <div class="mi-recuadro">
                <p>Te enviaremos un correo electronico para que cambies la contraseña</p>
            </div>
        </form>
    </div>

</body>
</html>