<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Cambiar Contraseña</title>
</head>
<body>

    <div class="contenedor form-olvidado">
        <p class="titulo">Olvidaste la contraseña</p>
        <form class="form" action="recuperarContraseña" method="post">
            <input name="email_usuario" type="email" class="input" placeholder="Email">
            <button class="form-btn">Recuperar contraseña</button>
            <div class="mi-recuadro">
                <p>Te enviaremos un correo electrónico para que cambies la contraseña</p>
            </div>
        </form>
        
        @if (TempData["MensajeRecuperarContraseñaError"] != null)
        {
            <div class="alert alert-danger">
                @TempData["MensajeRecuperarContraseñaError"]
            </div>
        }
        @if (TempData["MensajeRecuperarExitoso"] != null)
        {
            <div class="alert alert-success">
                @TempData["MensajeRecuperarExitoso"]
            </div>
        }
    </div>
</body>
</html>
