    

<div class="contenedor form-registro">
        <p class="titulo">Nuevo Usuario</p>
    <form class="form" action="RegistrarUsuarios" method="post">

      
            <!--cambiar inputs por los que tienen el name-->
        <input type="text" id="nombre_usuario" name="nombre_usuario" class="input" placeholder="Nombre" required>
        <input type="text" id="apellidos_usuario" name="apellidos_usuario" class="input" placeholder="Apellidos" required>
        <input type="text" id="dni_usuario" name="dni_usuario" class="input" placeholder="DNI" required>
        <input type="text" id="tlf_usuario" name="tlf_usuario" class="input" placeholder="Telefono" required>
        <input type="email" id="email_usuario" name="email_usuario" class="input" placeholder="Email" required>
        <input type="password" id="clave_usuario" name="clave_usuario" class="input" placeholder="Contraseña" required oninput="revisarContraseña()">
        <input type="password" id="confirmarClave_usuario" name="confirmarClave_usuario" class="input" placeholder="Confirmar Contraseña" required oninput="revisarContraseña()">

        <button type="submit" id="btnRegistro" class="form-btn">Registrarse</button>
        <div class="mensajeContrasenya" id="mensajeContrasenya"></div>
        </form>

    @if (TempData["ErrorRegistro"] != null)
    {
        <div class="alert alert-danger">
            @TempData["ErrorRegistro"]
        </div>
    }
</div>
