    

<div class="contenedor form-registro">
        <p class="titulo">Nuevo Usuario</p>
        <form class="form" id="usuarioForm">

            <!--cambiar inputs por los que tienen el name-->
        <input type="text" id="nombre" class="input" placeholder="Nombre" required>
        <input type="text" id="apellidos" class="input" placeholder="Apellidos" required>
        <input type="text" id="dni" class="input" placeholder="DNI" required>
        <input type="text" id="tlf" class="input" placeholder="Telefono" required>
        <input type="email" id="email" class="input" placeholder="Email" required>
        <input type="password" id="contrasenya" class="input" placeholder="Contraseña" required oninput="revisarContraseña()">
        <input type="password" id="confContrasenya" class="input" placeholder="Confirmar Contraseña" required oninput="revisarContraseña()">

        <button type="submit" onclick="guardarUsuario()" id="btnRegistro" class="form-btn">Registrarse</button>
        <div class="mensajeContrasenya" id="mensajeContrasenya"></div>
        </form>
</div>
